@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos extra */
body {
    background-color: #0a0c10;
    color: white;
}
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #0a0c10; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #333; border-radius: 20px; }